/* Add Box-Sizing to all elements */
*,
::before,
::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, border & outline */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* Removed default list styles from lists */
ol,
ul {
	list-style: none;
}

/* Sets images, svgs, videos, canvas and pictures to block elements with 100% max-width */
img,
svg,
video,
canvas,
picture {
  display: block;
  max-width: 100%;
}

/* Makes input, button, select and textarea inherit font styles from parent */
input,
button,
select,
textarea {
  font: inherit;
}

/* Adds break-word styling to all text elements */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
}
